.cell-size-1 {
  width: 40px;
  height: 40px;
  border: solid 1px transparent;
}

.cell {
  border-radius: 4px;
}

.active-cell {
  border: solid 1px white;
}

.inactive-occupied-cell {
  opacity: .5;
  border: solid 1px white;
}

.Bar {
  background-color: turquoise;
}

.ReverseL {
  background-color: blue;
}

.L {
  background-color: orange;
}

.Box {
  background-color: yellow;
}

.S {
  background-color: green;
}

.Z {
  background-color: red;
}

.T {
  background-color: purple;
}
