.cell-size-1 {
  width: 40px;
  height: 40px;
  border: solid 1px transparent;
}

.cell-size-2 {
  width: 35px;
  height: 35px;
  border: solid 1px transparent;
}

.cell-size-3 {
  width: 30px;
  height: 30px;
  border: solid 1px transparent;
}

.cell-size-4 {
  width: 25px;
  height: 25px;
  border: solid 1px transparent;
}

.cell-size-5 {
  width: 20px;
  height: 20px;
  border: solid 1px transparent;
}

.cell-size-6 {
  width: 15px;
  height: 15px;
  border: solid 1px transparent;
}

.cell {
  border-radius: 4px;
}

.active-cell {
  border: solid 1px white;
}

.inactive-occupied-cell {
  opacity: .5;
  border: solid 1px white;
  transition: opacity 2s, box-shadow 2s, background-color 2s;
}

.pause-cell-0, .pause-cell-5, .pause-cell-6 {
  border: solid 1px gray;
  background-color: rgb(61, 61, 61);
  box-shadow: none;
}

/* Blackish Gray One */
.pause-cell-1 {
  border: solid 1px gray;
  box-shadow: none;
  /* Make Sure background color matches the start and end of the animation */
  background-color: rgb(28, 28, 28);
  animation: pausing-cell-1 6s infinite;
}

/* Dark Blue */
.pause-cell-2 {
  border: solid 1px gray;
  box-shadow: none;
  /* Make Sure background color matches the start and end of the animation */
  background-color: rgb(61, 61, 61);
  animation: pausing-cell-2 5s infinite;
}

/* Pinkish */
.pause-cell-3 {
  border: solid 1px gray;
  box-shadow: none;
  /* Make Sure background color matches the start and end of the animation */
  background-color: rgb(100, 58, 100);
  animation: pausing-cell-3 4s infinite;
}

/* Dark green */
.pause-cell-4 {
  border: solid 1px gray;
  box-shadow: none;
  /* Make Sure background color matches the start and end of the animation */
  background-color: rgb(61, 61, 61);
  animation: pausing-cell-4 3s infinite;
}

/* Blackish Gray One */
@keyframes pausing-cell-1 {
  0% {
    background-color: rgb(28, 28, 28);
  }
  50% {
    background-color: rgb(61, 61, 61);
  }
  0% {
    background-color: rgb(28, 28, 28);
  }
}

/* Dark Blue */
@keyframes pausing-cell-2 {
  0% {
    background-color: rgb(61, 61, 61);
  }
  50% {
    background-color: rgb(36, 36, 55);
  }
  0% {
    background-color: rgb(61, 61, 61);
  }
}

/* Pinkish */
@keyframes pausing-cell-3 {
  0% {
    background-color: rgb(100, 58, 100);
  }
  50% {
    background-color: rgb(61, 61, 61);
  }
  0% {
    background-color: rgb(100, 58, 100);
  }
}

/* Dark green */
@keyframes pausing-cell-4 {
  0% {
    background-color: rgb(61, 61, 61);
  }
  50% {
    background-color: rgb(72, 92, 72);
  }
  0% {
    background-color: rgb(61, 61, 61);
  }
}

.clearing {
  animation: clearing-cell 1s;
  animation-fill-mode: forwards;
}

@keyframes clearing-cell {
  5% {
    background-color: white;
  }
  10% {
    background-color: yellow;
  }
  25% {
    background-color: red;
    opacity: 1;

    border: white 1px solid;
    box-shadow:
      0 0 3px #fff,
      0 0 5px #fff,
      0 0 7px red,
      0 0 10px red,
      inset 0 0 3px #fff,
      inset 0 0 5px #fff,
      inset 0 0 7px red,  
      inset 0 0 10px red; 
  }
  50% {
    background-color: black;
  }
  100% {
    opacity: 0;
  }
}

.Bar {
  background-color: turquoise;
}

.ReverseL {
  background-color: blue;
}

.L {
  background-color: orange;
}

.Box {
  background-color: yellow;
}

.S {
  background-color: green;
}

.Z {
  background-color: red;
}

.T {
  background-color: purple;
}
