.scoreboard-container {
  padding: 15px;
  background-color: #282c34;
  border-radius: 5px;
}

.data {
  margin-left: 5px;
  font-size: 1.5em;
}

.stat-spacer {
  margin-top: 5px;
}

.display-panel-button {
  color: white;
  height: 50px;
  margin-top: 20px;
  font-size: 1.5em;
}

.display-panel-button:focus {
  outline: none;
}

.display-panel-button:active {
  filter: brightness(75%);
}

.display-panel-button:disabled {
  opacity: .4;
  cursor: not-allowed;
}

.mobile-display {
  font-size: .7em !important;
  padding: 0px 16px;
}

.mobile-display-panel-button {
  font-size: .8em;
  height: 30%;
  min-width: 85px;
  margin: 0 0 20px 0;
}