.game-container {
  padding: 30px;
}

.mobile-game-container {
  padding: 10px;;
}

.mobile-gameplay-button {
  color: white;
  padding: 10px;
  z-index: 1000;
  background-color: blue;
  touch-action: manipulation;
}

.right-button {
  position: absolute;
  float: right;
  right: 15px;
}

.left-button {
  position: absolute;
  left: 15px;
}

.drag-text {
  font-size: 8px;
  margin-top: 5px;
}

.dragging {
  opacity: .5;
}