.grid-container {
  background-color: #282c34;
  position: relative;
}

.desktop-grid {
  margin-right: 40px;
}

.mobile-grid {
  margin-bottom: 10px;
}

.grid-message-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.grid-message {
  padding: 20px;
  font-size: 32px;
  background-color: #282c34;
}

.sad-icon {
  border-radius: 50%;
  margin-left: 16px;
}

.lose-message {
  background-color: #ff0084;
}

.new-high-message {
  background-color: lime;
}

.new-high-data-container {
  font-size: 14px;
  margin-top: 10px;
}

.new-high-label {
  margin-right: 15px;
  font-weight: bold;
}