.grid-container {
  margin-right: 40px;
  background-color: #282c34;
  position: relative;
}

.grid-message-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
}

.grid-message {
  padding: 20px;
  font-size: 32px;
  background-color: #282c34;
}