@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body, html {
  height: 100%;
}

body {
  background-color: #282c34;
  color: white;
}