@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #282c34;
  color: white;
}

.app-container {
  height: 100%;
}

/* These manage placing the tab content */
.content-frame {
  margin: auto;
}

.content-frame-mobile {
  flex-grow: 1;
}

/* This is the wrapper for each tabs content */
.content-container-fill-parent {
  flex-grow: 1;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-end {
  justify-content: flex-end;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-fill {
  flex-grow: 1;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.inset-shadow {
  -moz-box-shadow:    inset 1px 1px 6px 0px #000000;
  -webkit-box-shadow: inset 1px 1px 6px 0px #000000;
  box-shadow:         inset 1px 1px 6px 0px #000000;
}

.hover-cursor:hover {
  cursor: pointer;
}

.bg-fuschia {
  background-color: #ff0084;
}

.bg-green {
  background-color: lime;
}

.bg-main-background {
  background-color: #282c34;
}

.glow-border-red {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px red,
    0 0 10px red,
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px red,  
    inset 0 0 10px red;
}

.glow-border-white {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px #0073e6,
    0 0 10px #0073e6,
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px #0073e6,  
    inset 0 0 10px #0073e6;
}

.glow-border-green {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px lime,
    0 0 10px lime,
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px lime,  
    inset 0 0 10px lime;
}

.glow-border-fuschia {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px #ff0084,
    0 0 10px #ff0084,
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px #ff0084,  
    inset 0 0 10px #ff0084;
}

.glow-border-blue {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px blue,
    0 0 10px blue,
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px blue,  
    inset 0 0 10px blue;
}

.glow-border-Z {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px red,
    0 0 10px red,
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px red,  
    inset 0 0 10px red;
}

.glow-border-S {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px rgb(0, 155, 0),
    0 0 10px rgb(0, 155, 0),
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px rgb(0, 155, 0),  
    inset 0 0 10px rgb(0, 155, 0);
}

.glow-border-T {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px purple,
    0 0 10px purple,
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px purple,  
    inset 0 0 10px purple;
}

.glow-border-L {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px rgb(145, 94, 0),
    0 0 10px rgb(145, 94, 0),
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px rgb(145, 94, 0),  
    inset 0 0 10px rgb(145, 94, 0);
}

.glow-border-ReverseL {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px blue,
    0 0 10px blue,
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px blue,  
    inset 0 0 10px blue;
}

.glow-border-Box {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px rgb(100, 100, 0),
    0 0 10px rgb(100, 100, 0),
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px rgb(100, 100, 0),  
    inset 0 0 10px rgb(100, 100, 0);
}

.glow-border-Bar {
  border: white 1px solid;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px rgb(2, 145, 202),
    0 0 10px rgb(2, 145, 202),
    inset 0 0 3px #fff,
    inset 0 0 5px #fff,
    inset 0 0 7px rgb(2, 145, 202),
    inset 0 0 10px rgb(2, 145, 202);
}

.glow-text-white { 
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px #0073e6,
    0 0 10px #0073e6,
    0 0 12px #0073e6,
    0 0 15px #0073e6,
    0 0 17px #0073e6;
}

.glow-text-fuschia {
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px #ff0084,
    0 0 10px #ff0084,
    0 0 12px #ff0084,
    0 0 15px #ff0084,
    0 0 17px #ff0084;
}

.glow-text-green {
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px lime,
    0 0 10px lime,
    0 0 12px lime,
    0 0 15px lime,
    0 0 17px lime;
}

.glow-text-blue {
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px blue,
    0 0 10px blue,
    0 0 12px blue,
    0 0 15px blue,
    0 0 17px blue;
}

.glow-text-red {
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px red,
    0 0 10px red,
    0 0 12px red,
    0 0 15px red,
    0 0 17px red;
}

.glow-text-yellow {
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px yellow,
    0 0 10px yellow,
    0 0 12px yellow,
    0 0 15px yellow,
    0 0 17px yellow;
}

.glow-text-orange {
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px orange,
    0 0 10px orange,
    0 0 12px orange,
    0 0 15px orange,
    0 0 17px orange;
}

.glow-text-green-animation {
  animation: glow-green-animation alternate .35s 8;
}

@keyframes glow-green-animation {
  to {
    text-shadow:
      0 0 6px #fff,
      0 0 10px #fff,
      0 0 14px lime,
      0 0 20px lime,
      0 0 24px lime,
      0 0 30px lime,
      0 0 34px lime;
  }
}